*{
    margin: 0px;
}

header{
    background-color: #9B5DE5 ;
}

header div.col-logo{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

}

header div.col-logo img.img-logo{
    width: 60%;
    height: 60%;
    display: flex;
}
header div.col-logo h1.nombre-pagina{
    color: #FDF7F7;
    
}

/* header columna 1 */

#header-col1{
    display: flex;
    width: 100%;
    flex-flow: row;
    align-items: center;
}

#header-col1 h1{
    margin-left: 2%;
}

#header-col1 img.img-logo{
    width: 25%;
    margin: 1% 0 1% 1%;
}

/*header col2*/
.nav-bar ul{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding: 8%;
}

.nav-bar li{
    list-style-type: none;
    font-size: 1.2em;
}

.nav-bar a{
    text-decoration: none;
    color:#FDF7F7
}

/* header columna 3 */

#header-col3{
    margin:3%;
}
div.contenedor-iconos{
    display: flex;
    flex-flow: row;
    justify-content: space-between;

}


body{
    background-color: #1f2023;
    color: #FDF7F7;
}


/* -------------header general para la pagina---------------*/

.index-video-container{
    display: inline-block;
    align-items: center;
    margin-left: 15%;
}
video.video-index{
    width: 90%;
    height: 80%;
}

.index-txt-container{
    text-align: center;
}

.itc-t1{
    font-size: 3em;
}

#sec-index-rutinas{
    margin-top: 5%;
}

.index-img-rutina{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.index-img-rutina2{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.index-img-rutina3{
    width: 100%;
    height: 100%;
    object-fit: contain;
}



/* -------------PAGINA-RUTINAS---------------*/

.main-rutinas {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding: 2%;
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
}

.contenerdor-titulo h2 {
    justify-content: center;
    padding: 2%;
}

.main-rutinas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}

.titulo-rutina {
    color: aqua;
}

.main-rutinas p {
    color: rgb(75, 63, 63);
    font-size: 1.5em;
}

.main-rutinas .titulo-rutina {
    font-size: 2em;
    color: rgb(46, 38, 38);
}

.contenedor-rutina {
    width: 30%;
    height: 70vh;
    border: 2px solid black;
    border-radius: 2%;
    
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}

.contenedor-rutina p {
    font-size: 20px;
}

.titulo-rutina {
    font-size: 40px;
}

#img-rutina {
    width: 60%;
    height: 40%;
}


/* -------------PAGINA-TIENDA---------------*/


.filtros-accesorios {
    display: inline;
    flex-flow: column;
    align-items: left;
    margin-left: 1%;
}

.filtros-accesorios span {
    display: inline;
}

.filtros-accesorios p {
    font-size: 1.7em;
    color: #7b2cbf;
}

div.contenedor-articulo {
    display: flex;
    height: 600px;
    width: 45%;
    border: 5px solid black;
    border-radius: 5px;
    margin-bottom: 1%;
    justify-content: center;
}

img.img-articulo {
    width: 400px;
    height: 400px;
}

.main-tienda {
    display: flex;
    flex-flow: row;
    padding: 1%;
}

#mostrar-articulos {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}


/* -------------PAGINA-BLOG---------------*/

#blog-row{
    margin-top: 3%;
}

.img1-blog-container img{
    width: 50%;
    height: 50%;
}

.img2-blog-container img{
    width: 50%;
    height: 50%;
}



/* -------------PAGINA-NOSOTROS---------------*/

.nosotros-main-grid-container{
    display: grid;
    width: 95vw ;
    
}

.cont-img-nosotros{
    box-sizing: content-box;
    display:block;
    padding-bottom: 2%;
    
}
.img-nosotros{
    width: 70%;
    height: 70%;
}

.cont-nosotros-txt h1,h2{
    color:#FCFCFC;
    text-align: center;
    padding-top: 2%;
}

.cont-nosotros-txt h2{
    padding-bottom: 3%;
}

.cont-quienes-somos{
    margin-top: 3%;
}

.cont-quienes-somos p{
    text-align: justify;
}

.cont-vision p{
    text-align: justify;
}





